.bg-aqua {
  background-color: #00afaa
}

.text-aqua {
  color: #00afaa
}

.border-aqua {
  border-color: #00afaa
}

.mt-7{
  margin-top: 70px;
}

.vh-40 {
  height: 40vh;
}

.img-trail {
  width: 20%;
}